body{
	background: #333;
}

#map{
	background-color: #fff;
	width: 800px;
	height: 600px;
	display: block;
	margin:30px auto 0px;
}

#gameName{
	color:#fff;
	font-size: 24px;
	font-family:Courier,sans-serif;
	text-align: center;
	font-weight: bold;
}

#player, #enemy{ 
	display: block;
	margin: -500px auto 0px;
}